<div class="float-right">
    <small>
        Tus vuelos:
        <span *ngIf="carrito.contadorItems > 0">
            {{ carrito.contadorItems }} item(s)
            {{ carrito.importeTotal | currency:"EUR":"symbol":"2.2-2" }}
        </span>
        <span *ngIf="carrito.contadorItems == 0">
            (vacío)
        </span>
        {{ carrito.contadorItems }} item(s)
    </small>
    <button class="btn btn-sm bg-dark text-white" [disabled]="carrito.contadorItems == 0" routerLink="/carrito">
        <i class="fa fa-shopping-cart"></i>
    </button>
</div>