<h2>Para uso de prueba con datos no sacados online de Aviation Edge</h2>
<div class="bg-primary p-2 text-white" [class.bg-warning]="editando" [class.text-dark]="editando">
    <h5>{{editando ? "Editar" : "Crear"}} Vuelo</h5>
</div>
<form novalidate #form="ngForm" (ngSubmit)="guardar(form)">
    <div class="form-group">
        <label>Aerolinea</label>
        <input class="form-control" name="aerolinea" [(ngModel)]="vuelo.airline.name" />
    </div>
    <div class="form-group">
        <label>Número de vuelo</label>
        <input class="form-control" name="flight" [(ngModel)]="vuelo.flight.number" />
    </div>
    <button type="submit" class="btn btn-primary" [class.btn-warning]="editando">
        {{editando ? "Guardar" : "Crear"}}
    </button>
    <button type="reset" class="btn btn-secondary" routerLink="/admin/main/vuelos">
        Cancelar
    </button>
</form>